.search-component {
  position: relative; /* 기준점 설정 */
}

.search-results {
  position: absolute; /* 절대 위치 */
  width: 100%; /* 검색 필드 너비와 동일하게 */
  top: 100%; /* 검색 필드 바로 아래 */
  left: 0;
  z-index: 1000; /* 다른 요소들 위에 표시 */
  margin-right: 10px;
  padding: 10px;
  max-height: 200px; /* 스크롤 가능한 최대 높이 */
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: white;
  cursor: pointer;
  user-select: none;
  color: #000000;
  overflow-y: auto;
}

.champion-item.selected {
  border-color: blue;
  background-color: lightblue;
}

input {
  border-radius: 3px;
  border: 2px solid #888;
  width: 250px;
  height: 40px;
  font-size: 36px;
  font-family: "Bai-Jamjuree";
}

input:hover {
  border-color: #fff; /* 마우스 호버 상태에서 테두리 색상 변경 */
}

input:focus {
  border-color: #4a90e2; /* 포커스 상태에서 테두리 색상 변경 */
  outline: none; /* 기본 윤곽선 제거 */
}

.grid-item.left {
  justify-self: start; /* 왼쪽 정렬 */
}

.grid-item.right {
  justify-self: end; /* 오른쪽 정렬 */
}
