a {
  text-decoration: none;
  color: inherit;
}

.container {
  width: 100vw;
  height: 100vh;
  margin: auto;
  overflow-y: hidden;
}

.MenuBar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  min-width: 1200px;
  width: 70vh;
  height: 200px;
  color: black;
}

.home-icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: "Bigshot-One";
  color: black;
  font-size: 48px;
}

.MiddleContent {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: "Big-shoulders-inline";
  color: black;
  font-size: 20px;
  font-weight: 600;
  height: 100%;
}

.tail-icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: "Big-shoulders-text";
  color: black;
  font-weight: 500;
  font-size: 32px;
}

@media (max-width: 600px) {
  .Container {
    overflow-y: auto;
  }
}

@font-face {
  font-family: "Bigshot-One";
  src: local("Bigshot-One"),
    url(assets/fonts/BigshotOne-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Big-shoulders-inline";
  src: local("Big-shoulders"),
    url(assets/fonts/BigShouldersInlineDisplay-VariableFont_wght.ttf)
      format("opentype");
}

@font-face {
  font-family: "Big-shoulders-text";
  src: local("Big-shoulders"),
    url(assets/fonts/BigShouldersText-VariableFont_wght.ttf) format("opentype");
}
